<div class="customer_page_container">
  <!-- list for all car's customer -->
  <div class="logo">Garage</div>
  <div class="content_container">
    <div class="content">

      <!-- Liste des voitures que possèdent l'utilisateur -->
      <div class="box_container car_list_container">
        <div class="title">
          <h2>My cars</h2>
          <button mat-mini-fab id="add_icon" matTooltip="add new car" #button (click)="details.pageSelected = 'add'">
            <mat-icon> add </mat-icon>
          </button>
          <button (click)="showMessage()">
            message
          </button>

        </div>
        <ul class="car_list">
          <li class="car" [class.isActive]="car === car_details" *ngFor="let car of myCars"
            (click)="[viewDetails(car,details)]">
            <div class="info_car">
              <p class="marque"> {{car.model}} <span class="type"> {{car.type}} </span></p>
              <p class="matricule"> {{car.matricule}} </p>
            </div>
            <div class="status">
              <p>Status</p>
              <button class="button_icon_car" (click)="$event.stopPropagation()" mat-fab
                matTooltip="Envoyer en réparation" [matTooltipPosition]="'before'">
                <img class="tow_car_icon" src="../../../assets/icons/tow-truck.png" alt="tow car">
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Affichage des details -->
    <div class="content">
      <app-car-details #details [detail]="car_details" class="detail"></app-car-details>
    </div>
  </div>


</div>
