<div class="container_login_page">
  <div class="container_login_form">
    <button [routerLink]="['/adminResponsableFinancier']" class="close">X</button>
    <h1>sign in</h1>
    <form action="">
      <div>
        <label for="identifiant">identifiant (or email address)</label>
        <input type="text" id="identifiant" name="identifiant">
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password">
      </div>
      <p>if you don't already have an account you can create one <a href="#">here</a> </p>
      <button type="submit"> login </button>
    </form>
  </div>
</div>
