.details_container {
  background-color: aquamarine;
  width: 40vw;
  height: 100vh;
}

.title {
  margin: 0px 5px;
  border-bottom: 1px solid black;
}

.title>ul {
  display: flex;
  list-style: none;
}

.details {
  margin: 10px 20px;
  overflow: visible;
}

.info_container {
  display: flex;
}

.info {
  flex-grow: 1;
  border-right: 1px solid rgb(0, 69, 46);
}

.repair_list {
  flex-grow: 2;
}

.details h3,
.details p {
  margin: 0px;
  padding: 0px;
}

.details h3 {
  font-size: larger;
  font-weight: 900;
  font-style: "Inter";

}
