<div class="details_container">

  <nav class="box_container">
    <ul>
      <li *ngFor="let nav of navigation" (click)="[changePage(nav.label)]" [class.isActive]="nav === pageSelected">
        <mat-icon> {{nav.icon}} </mat-icon>
        <p> {{nav.label}} </p>
      </li>
    </ul>
  </nav>

  <div class="car_info_container box_container">
    <div [ngSwitch]="pageSelected">
      <!-- Page d'affichage de detail consernant la voiture -->
      <div *ngSwitchCase="'details'">
        <div class="car_info_container" *ngIf="detail">
          <div class="car_id">
            <p class="marque"> {{detail.marque}} </p>
            <p class="immatriculation"> {{detail.im}} </p>
          </div>
          <div class="car_info">
            <div>
              <h4>Année :</h4>
              <p> {{detail.annee}} </p>
            </div>
            <div>
              <h4>Puissance moteur :</h4>
              <p> {{detail.moteur}} </p>
            </div>
            <div>
              <h4>Type de moteur :</h4>
              <p> {{detail.type_moteur}} </p>
            </div>
            <div>
              <h4>Transmission :</h4>
              <p> {{detail.transmission}} </p>
            </div>
            <div>
              <h4>Couleur :</h4>
              <p> {{detail.couleur}} </p>
            </div>
          </div>
          <div class="button_container">
            <button class="button_icon_car" mat-raised-button matTooltip="Voir les réparations"
              (click)="pageSelected = 'reparation_list'">
              <img class="tow_car_icon" src="../../../../../assets/icons/detail.png" alt="tow car">
            </button>
            <button class="button_icon_car" mat-raised-button matTooltip="Envoyer en réparation">
              <img class="tow_car_icon" src="../../../../../assets/icons/tow-truck.png" alt="tow car">
            </button>
          </div>
        </div>
      </div>

      <!-- Réparation list -->
      <div class="reparation_list" *ngSwitchCase="'reparation_list'">
        <div>
          <div class="title">
            Liste des réparations
          </div>
          <div class="lists">
            <ul>
              <li>
                <p class="reparation">
                  Changement filtre a essence
                </p>
                <p class="status">
                  Prêt
                </p>
              </li>
              <li>
                <p class="reparation">
                  Entretien pneus
                </p>
                <p class="status">
                  En cours
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="loading">
          <p>Avancement</p>
          <div class="progress_bar_container">
            <p> {{progress}} </p>
            <div class="progressBar">
              <div class="progress" [ngStyle]="progressBar()"></div>
            </div>
          </div>
        </div>

      </div>

      <!-- Page d'ajout de nouveau voiture -->
      <div *ngSwitchCase="'add'">
        <app-add-new-car></app-add-new-car>
      </div>


      <!-- Page d'affichage des listes de facture -->
      <div *ngSwitchCase="'facture'">
        <div>
          <p>Facture page</p>
        </div>
      </div>

      <!-- Page d'affichage d'historique -->
      <div *ngSwitchCase="'historique'">
        <div>
          <p>Historique page</p>
        </div>
      </div>

    </div>



  </div>

</div>
