<div class="details_container">

  <nav class="box_container">
    <ul>
      <li *ngFor="let nav of navigation" (click)="[changePage(nav.label)]" [class.isActive]="nav === pageSelected">
        <mat-icon> {{nav.icon}} </mat-icon>
        <p> {{nav.label}} </p>
      </li>
      <li (click)="logout()">
        <mat-icon> logout </mat-icon>
        <p> déconnection </p>
      </li>
    </ul>
  </nav>

  <div class="car_info_container box_container">
    <div [ngSwitch]="pageSelected">
      <!-- Page d'affichage de detail consernant la voiture -->
      <div *ngSwitchCase="'details'">
        <div class="car_info_container" *ngIf="detail">
          <div class="car_id">
            <p class="marque"> {{detail.model}} </p>
            <p class="immatriculation"> {{detail.matricule}} </p>
          </div>
          <div class="car_info">
            <div>
              <h4>Type :</h4>
              <p> {{detail.type}} </p>
            </div>

          </div>
          <div class="button_container">

            <div *ngIf="status(); then detailBlock; else sendBlock"></div>
            <ng-template #detailBlock>
              <button class="button_icon_car" mat-raised-button matTooltip="Voir les réparations"
                (click)="[pageSelected = 'reparation_list']">
                <img class="tow_car_icon" src="../../../../../assets/icons/detail.png" alt="tow car">
              </button>
            </ng-template>

            <ng-template #sendBlock>
              <button class="button_icon_car" mat-raised-button matTooltip="Envoyer en réparation"
                (click)="sendToGarage(detail)">
                <img class="tow_car_icon" src="../../../../../assets/icons/tow-truck.png" alt="tow car">
              </button>
            </ng-template>

          </div>
        </div>
      </div>

      <!-- Réparation list -->
      <div class="reparation_list" *ngSwitchCase="'reparation_list'">
        <div>
          <div class="title">
            Liste des réparations
          </div>
          <div class="service_list">
            <div *ngFor="let service of services">
              <div *ngIf="service.tasks.length !== 0">
                <div class="title_service">
                  {{ service.title }}
                </div>

                <div class="lists">
                  <ul>
                    <li *ngFor="let task of service.tasks" (click)="toggleStatus(task)">
                      <p class="reparation">
                        {{ task.name }}
                      </p>
                      <p class="status" *ngIf="detail.status !== 'payé'">
                        <input type="checkbox" name="" id="" [(ngModel)]="task.done">
                      </p>
                    </li>
                  </ul>
                </div>

              </div>
            </div>

            <div *ngIf="pieces.tasks.length !== 0 && detail.status !== 'payé'">
              <div class="title_service">
                {{ pieces.title }}
              </div>

              <div class="lists">
                <ul>
                  <li *ngFor="let task of pieces.tasks" (click)="toggleStatus(task)">
                    <p class="reparation">
                      {{ task.name }}
                    </p>
                    <div *ngIf="detail.status == 'En attente de confirmation'; then check; else status"></div>
                    <ng-template #check>
                      <p class="status">
                        <input type="checkbox" name="" id="" [(ngModel)]="task.done">
                      </p>
                    </ng-template>
                    <ng-template #status>
                      <p>en attente</p>
                    </ng-template>

                  </li>
                </ul>
              </div>

            </div>
          </div>



        </div>

        <div class="loading">

          <div *ngIf="detail.status == 'En attente de confirmation'; then confirmBlock; else stateBlock"></div>

          <ng-template #confirmBlock>
            <button mat-raised-button class="confirm_button" (click)="sendConfirmList()" [disabled]="sendButtonClicked">
              confirmer
            </button>
          </ng-template>

          <ng-template #stateBlock>
            <p>Avancement</p>
            <div class="progress_bar_container">
              <p> {{progress}} </p>
              <div class="progressBar">
                <div class="progress" [ngStyle]="progressBar()"></div>
              </div>
            </div>
          </ng-template>


        </div>

      </div>

      <!-- Page d'ajout de nouveau voiture -->
      <div *ngSwitchCase="'add'">
        <app-add-new-car></app-add-new-car>
      </div>


      <!-- Page d'affichage des listes de facture -->
      <div *ngSwitchCase="'facture'">
        <div>
          <p>Facture page</p>
        </div>
      </div>

      <!-- Page d'affichage d'historique -->
      <div *ngSwitchCase="'historique'">
        <div>
          <p>Historique page</p>
        </div>
      </div>

    </div>



  </div>

</div>
