<div class="app_container">
  <div class="bg_container">
    <div class="logo">Garage</div>
    <!-- <app-header></app-header> -->
    <div class="welcome_container">
      <p>“ Confiez-nous votre voiture, des réparations rapides pour vous remettre sur la route en toute confiance. ”</p>
      <div class="button_container">
        <button mat-raised-button id="signUp" routerLink="/signUp">Inscrivez vous</button>
        <button mat-raised-button id="signIn" routerLink="/signIn">Se connecter</button>
      </div>
    </div>
  </div>
</div>
