.item_container {
  display: flex;
  align-items: center;
  width: 413px;
  height: 110px;
  background: rgba(3, 255, 210, 0.14);
  border-radius: 5px;
}

.image_container {
  width: 100px;
  height: 100px;

}

.image_container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info_container {}
