<div class="container_home_rf_page">
  <div class="logo">Garage</div>

  <div class="content_container">
    <!-- Navigation -->
    <nav class="box_container">
      <ul>
        <li *ngFor="let nav of navigation">
          <button class="nav_button" [matTooltip]="nav.label" matTooltipPosition="after" mat-mini-fab>
            <mat-icon> {{nav.icon}} </mat-icon>
          </button>
        </li>
      </ul>
      <button class="nav_button" mat-mini-fab>
        <mat-icon>logout</mat-icon>
      </button>
    </nav>

    <div class="page_container box_container">
      <app-table></app-table>
    </div>

  </div>
</div>
