<div class="container_home_rf_page">
  <div class="logo">Garage</div>

  <div class="content_container">
    <!-- Navigation -->
    <nav class="box_container">
      <ul>
        <li *ngFor="let nav of navigation">
          <button class="nav_button" [matTooltip]="nav.label" matTooltipPosition="after" mat-mini-fab>
            <mat-icon> {{nav.icon}} </mat-icon>
          </button>
        </li>
      </ul>
      <button class="nav_button" matTooltip="Se déconnecter" mat-mini-fab (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </nav>

    <div class="page_container">
      <h2 class="box_container">Responsable financier</h2>
      <app-tableau class="tableau"></app-tableau>
    </div>

  </div>
</div>
