<div class="add_container">
  <div class="add_content">
    <fieldset>
      <legend>Model</legend>
      <input type="text" id="marque" name="marque" [(ngModel)]="model">
    </fieldset>
    <fieldset>
      <legend>Type</legend>
      <input type="text" id="type" name="type" [(ngModel)]="type">
    </fieldset>
    <fieldset>
      <legend>Matricule</legend>
      <input type="text" id="matriculation" name="matriculation" [(ngModel)]="matricule">
    </fieldset>

    <button mat-raised-button (click)="addCar()">Ajouter</button>
  </div>
</div>
