.add_container {
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form div {
  display: flex;
  margin: 5px 0px;
}

label {
  width: 20%;
  flex-grow: 1;
  font-family: "Inter";
  font-weight: bold;
  font-size: 15px;
}

input {
  flex-grow: 1;
  font-size: 15px;
  height: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

button {
  margin: 20px 0px;
}
