.add_container {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.add_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form div {
  display: flex;
  margin: 5px 0px;
}

label {
  width: 20%;
  flex-grow: 1;
  font-family: "Inter";
  font-weight: bold;
  font-size: 15px;
}

input {
  flex-grow: 1;
  font-size: 15px;
  height: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

button {
  margin: 20px 0px;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(3, 3, 21, 0.1);
}

legend {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
  margin: 5px;
}

input {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  height: 20px;
  margin: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  background-color: rgba(3, 3, 21, 0.8) !important;
  color: white !important;
}
