<mat-drawer #drawer class="new_car_container" [(opened)]="toggle" mode="over"><!-- mode="side" -->
  <h2>Add new car</h2>
  <div class="form_container">
    <mat-form-field class="typed_input">
      <mat-label>Marque</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="typed_input">
      <mat-label>Imatriculation</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="typed_input">
      <mat-label>Année</mat-label>
      <input matInput type="number" maxlength="4">
      <mat-hint align="end">ex: 2014</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="typed_input">
      <mat-label>Type de moteur</mat-label>
      <mat-select>
        <mat-option *ngFor="let motor of motor_type" [value]="motor">
          {{motor}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="typed_input">
      <mat-label>Puissance moteur</mat-label>
      <input matInput type="number">
      <span matTextSuffix>CC</span>
    </mat-form-field>

    <mat-form-field appearance="fill" class="typed_input">
      <mat-label>Transmission</mat-label>
      <mat-select>
        <mat-option *ngFor="let transmission of transmission_type" [value]="transmission">
          {{transmission}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="typed_input">
      <mat-label>Couleur</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button color="primary">Add</button>
  </div>
</mat-drawer>
