<div class="container_login_form">
  <div class="box_container">
    <button mat-mini-fab #button [routerLink]="['/']" class="close_button">
      <mat-icon> close </mat-icon>
    </button>

    <div class="logo">Garage</div>
    <h2>Inscrivez-vous pour déposer votre voiture</h2>
    <form action="">
      <input type="text" id="name" name="name" placeholder="Nom complet" >
      <input type="email" name="address_email" id="address_email" placeholder="Adress émail">
      <input type="password" name="password" id="password" placeholder="Mots de passe">
      <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmez votre mots de passe">
      <button mat-raised-button id="inscription">S'inscrire</button>
    </form>
  </div>
  <p>Vous avez déja un compte ?<a routerLink="/signIn" class="go_to"> Connectez-vous </a></p>
</div>
