<div class="container_login_page">
  <div class="container_login_form">
    <button [routerLink]="['/adminResponsableFinancier']" class="close">X</button>
    <h1>sign up</h1>
    <form action="">
      <div>
        <label for="name">name</label>
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="address_email">address email</label>
        <input type="email" name="address_email" id="address_email">
      </div>
      <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password">
      </div>
      <div>
        <label for="confirm_password">confirm password</label>
        <input type="password" name="confirm_password" id="confirm_password">
      </div>
      <p>when you register in our site you accepted in our <a href="#">privacy policy</a></p>
      <button type="submit">register</button>
      <p>if you already have an account you can go to login <a href="">here</a> </p>
    </form>
  </div>
</div>
